.Ver12b_w {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #FFFFFF; text-decoration: none}

td {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px}

.Ver12b_w a:active { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #FFFFFF; text-decoration: none }

.Ver12b_w a:link { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #FFFFFF; text-decoration: none }

.Ver12b_w a:visited { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #FFFFFF; text-decoration: none }

.Ver12b_w a:hover { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #FF0000; text-decoration: none }

.title {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; background-color: #D8B563; text-transform: uppercase; clip:  rect(   )} 

.header_bar {background:#CBDBBB}

.logo_header {background:#FFFFFF}

.leftnav {background:#9B9B9B}

.leftmenu {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px}

.boxText { font-family: Verdana, Arial, sans-serif; font-size: 10px; }

.errorBox { font-family : Verdana, Arial, sans-serif; font-size : 10px; background: #ffb3b5; font-weight: bold; }

.stockWarning { font-family : Verdana, Arial, sans-serif; font-size : 10px; color: crimson; }

BODY { background: #FFFFFF; color: #000080; margin: 0px;}

a:link { color: #FFFFFF; text-decoration: none;}

a:visited { color: #FFFFFF; text-decoration: none; }

a:active { color: #FFFFFF; text-decoration: none; }

a:hover { color: #FFCC66; text-decoration: underline; }

A:pageResults { color: #0000FF; }

a.hover.pageResults { color: #0000FF; background: #FFFF33; }

FORM { display: inline; }

TR.header { background: #ffffff; }

TR.headerInfo { background: #00FF00; }

TD.headerInfo { font-family: Verdana, Arial, sans-serif; font-size: 12px; background: #00FF00; color: #FFFFFF;  font-weight: bold; text-align: center; }

TR.headerNavigation { background: #CCCCCC; }

TD.headerNavigation { font-family: Verdana, Arial, sans-serif; font-size: 10px; background: #BBC3D3; color: #FFFFFF; font-weight : bold; }

TABLE.infoBox { background: #CCCCCC; }

TABLE.infoBoxContents { background: FFFFFF; }

TD.infoBoxHeading {  font-family: Verdana, Arial, sans-serif; font-size: 10px; background: 000000; color: FFFFFF;}

TD.infoBox, SPAN.infoBox { font-family: Verdana, Arial, sans-serif; font-size: 10px; }

TR.accountHistory-odd, TR.addressBook-odd, TR.alsoPurchased-odd, TR.payment-odd, TR.productListing-odd, TR.productReviews-odd, TR.upcomingProducts-odd, TR.shippingOptions-odd { background: #CCCCCC; }

TR.accountHistory-even, TR.addressBook-even, TR.alsoPurchased-even, TR.payment-even, TR.productListing-even, TR.productReviews-even, TR.upcomingProducts-even, TR.shippingOptions-even { background: FFFFFF; }

TR.productListing-heading { background: #999999; }

TD.productListing-heading { font-family: Verdana, Arial, sans-serif; font-size: 12px; background: #000080; color: #FFFFFF; font-weight: bold; font-variant: small-caps; }

TD.productListing-data { font-family: Verdana, Arial, sans-serif; font-size: 12px; }

TD.pageHeading, DIV.pageHeading { font-family: Verdana, Arial, sans-serif; font-size: 20px; font-weight: bold; color: 000080; }

TR.subBar { background: #F4F7FD; }

TD.subBar { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #000000; }

TD.main, P.main {   font-family: Verdana, Arial, sans-serif; font-size: 12px; line-height: 1.5; }

TD.accountCategory { font-family: Verdana, Arial, sans-serif; font-size: 13px; color: #AABBDD; }

TD.fieldKey { font-family: Verdana, Arial, sans-serif; font-size: 12px; font-weight: bold; }

TD.fieldValue { font-family: Verdana, Arial, sans-serif; font-size: 12px; }

TD.tableHeading { font-family: Verdana, Arial, sans-serif; font-size: 12px; font-weight: bold; }

TD.formAreaTitle { font-family: Verdana, Arial, sans-serif; font-size: 12px; font-weight: bold; }

TD.checkoutBar { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #000080;}

SPAN.markProductOutOfStock { font-family: Verdana, Arial, sans-serif; font-size: 12px; color: #C76170; font-weight: bold; }

SPAN.productSpecialPrice { font-family: Verdana, Arial, sans-serif; color: #ff0000;}

SPAN.greetUser { font-family: Verdana, Arial, sans-serif; font-size: 12px; color: #F0A480; font-weight: bold; }

SPAN.checkoutBarHighlighted { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #ff0000; }

SPAN.newItemInCart { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #FF0000; }

TABLE.formArea { background: 000000; border-color: 7B9EBD; border-style: solid; border-width: 1px;}

TD.smallText, SPAN.smallText { font-family: Verdana, Arial, sans-serif; font-size: 12px; }

CHECKBOX, INPUT, RADIO, SELECT { font-family: Verdana, Arial, sans-serif; font-size: 11px; }

TEXTAREA { width: 100%; font-family: Verdana, Arial, sans-serif; font-size: 11px; }

TR.footer { background: #CCCCCC; }

TD.footer { font-family: Verdana, Arial, sans-serif; font-size: 10px; background: #999999; color: #ffffff; font-weight: bold; }

TR.headerError { background: #ff0000; }

TD.headerError { font-family: Verdana, Arial, sans-serif; font-size: 12px; background: #ff0000; color: #ffffff; font-weight : bold; text-align : center; }

TABLE.left { border-color: #6F673F; border-style: solid; border-width: 1px;}

